# Python Lists Notes

**Shri_Data Scientist**

# 1.0 List introduction

**1.1 Syntax**

1. Lists are used to store multiple items in a single variable.
2. Lists are created using square brackets
3. Lists can store multiple data types also for ex. tuple, sets, dict, bool, etc

In [30]:
l = [1,2,"Shri", [1,23,4], (1,2,3), {1,2}, {"key": "value"}, True]
l

[1, 2, 'Shri', [1, 23, 4], (1, 2, 3), {1, 2}, {'key': 'value'}, True]

# 1.2 type() and len() Method

In [2]:
type(l),len(l)

(list, 8)

# 1.3 List Properties

1. lists are ordered, it means that if you add new items to a list, the new items will be placed at the end of the list. One
exception to this is insert() method which inserts element at specified index.
2. list is mutable, it means that we can change, add, and remove items in a list after it has been created.
3. lists allow duplicates, since lists are indexed, so lists can have items with the same value.

# 1.4 list() Method

1. list() is used to convert other data types to list

In [4]:
s='RadhaKrishna'
list(s)

['R', 'a', 'd', 'h', 'a', 'K', 'r', 'i', 's', 'h', 'n', 'a']

In [31]:
# tuple1=(1,2,3,4,5)
list(tuple1)

NameError: name 'tuple1' is not defined

# 2.0 Accessing list elements

1. list can be accessed by positive and negative indexing.

In [2]:
l1 = ["Red", "Blue", "Green","Yellow", True, False, 1,3]

**2.1 Positive indexing**

In [3]:
# from first to last element
l1[0:]

['Red', 'Blue', 'Green', 'Yellow', True, False, 1, 3]

In [6]:
# from first to 4th element
l1[0:4]

['Red', 'Blue', 'Green', 'Yellow']

In [7]:
# range of element
l1[2:5]

['Green', 'Yellow', True]

In [13]:
# elements with a jump 2 by default jump is 1
l1[0::2]   # Start..end..step

['Red', 'Green', True, 1]

**2.2 Negative indexing**

In [17]:
# upto second last element
l1[:-1]

['Red', 'Blue', 'Green', 'Yellow', True, False, 1]

In [19]:
# to excess last element also but it reverses the list
l1[::-1]

[3, 1, False, True, 'Yellow', 'Green', 'Blue', 'Red']

In [20]:
# range of elements
l1[-4:-1]

[True, False, 1]

In [21]:
# reverse of list
l1[::-1]

[3, 1, False, True, 'Yellow', 'Green', 'Blue', 'Red']

# 3.0 Change list elements

In [22]:
l1

['Red', 'Blue', 'Green', 'Yellow', True, False, 1, 3]

**3.1 Change item value at specific index**

In [23]:
l1[1]=5  #list is mutable
l1

['Red', 5, 'Green', 'Yellow', True, False, 1, 3]

**3.2 Insert multiple values**

In [24]:
l1[2:5]=['Shri','krishna','Ram']
l1

['Red', 5, 'Shri', 'krishna', 'Ram', False, 1, 3]

# 4.0 Add elements to list

In [26]:
l=[1,2,3,4,5]

**4.1 append() Method**

1. append() adds an item to the end of the list

In [30]:
l.append("Radhakrishna")
l

[1, 2, 3, 4, 5, 'radhakrishna', 'Radhakrishna', 'Radhakrishna']

**4.2 insert() Method**

1. To insert a new list item, without replacing any of the existing values, we can use the insert() method.
2. The insert() method inserts an item at the specified index.
3. This increases list length

In [32]:
l.insert(3,"krishna")
l

[1, 2, 3, 'krishna', 4, 5, 'radhakrishna', 'Radhakrishna', 'Radhakrishna']

**4.3 extend() method**

1. Any iterables can be added to list using extend() method
2. iterables: list, tuple, set, dictionary, etc

In [34]:
l.extend({'name','Shri','krishna','ram'})
l

[1,
 2,
 3,
 'krishna',
 4,
 5,
 'radhakrishna',
 'Radhakrishna',
 'Radhakrishna',
 'krishna',
 'name',
 'ram',
 'Shri']

# 5.0 Remove elements from list

In [57]:
l=[1,2,3,4,5,6,7,8,9]

**5.1 remove() method**

1. It removes a specified element

In [58]:
l.remove(8)
l

[1, 2, 3, 4, 5, 6, 7, 9]

**5.2 pop()**

1. It removes item at specified index
2. If no index specified pop() removes last element.

In [59]:
l.pop(0)
l

[2, 3, 4, 5, 6, 7, 9]

In [60]:
l.pop(1)
l

[2, 4, 5, 6, 7, 9]

**5.3 del keyword**

1. It also removes element at specified index

In [61]:
# at index 3 element value 6 will be removed
l

[2, 4, 5, 6, 7, 9]

In [62]:
del l[3]
l

[2, 4, 5, 7, 9]

**5.4 clear() method**

1. It is used to empty thr list.

In [63]:
l.clear()
l

[]

# 6.0 Loop through lists

In [64]:
l=["a",'b','c', 'd']

**6.1 Using for loop**

In [66]:
# for items without index
for a in l:
    print(a)

a
b
c
d

In [67]:
# using index
for i in range(len(l)):
    print(l[i])

a
b
c
d

**6.2 Using while loop**

In [68]:
i=0
while i<len(l):
    print(l[i])
    i+=1

a
b
c
d

# 7.0 list comprehension

1. list comprehension is one line of code inside [ ] brackets

**7.1 Syntax**

1. [expression for item in iterable if condition == True]

2. The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends
up like a list item in the new list.

3. iterable can be list, tuple, set, etc

4. Condition is filter that only accepts items that evaluate to True.

**7.2 Implementation with examples**

In [69]:
colors = ["red", "blue", "yellow", "brown"]

In [70]:
# for condition and iterable
[x for x in colors if x not in["red","blue"]]

['yellow', 'brown']

In [71]:
# generator function
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
# generator with condition
[x for x in range(10) if x<5]

[0, 1, 2, 3, 4]

In [75]:
# expressions
[x.upper() for x in colors]

['RED', 'BLUE', 'YELLOW', 'BROWN']

In [78]:
for x in colors:
    x.upper()

In [79]:
[x if x!='red' else 'No color for you' for x in colors]

['No color for you', 'blue', 'yellow', 'brown']

In [82]:
# even no in list
l_int=[1,2,3,4,5,6,7,8,9,10]
[x if x%2==0 else "even" for x in l_int]

['even', 2, 'even', 4, 'even', 6, 'even', 8, 'even', 10]

In [84]:
# better way to to even no example
[x for x in l_int if x%2==0]

[2, 4, 6, 8, 10]

# 8.0 Sorting list element

In [86]:
l_alpha=["red","Blue","Green","Yelolow"]
l_num=[1,4,3,5,7,8,2,6,9]

In [87]:
l_alpha.sort()  #sort the list in ascending order
l_alpha

['Blue', 'Green', 'Yelolow', 'red']

In [89]:
l_alpha.sort(reverse=True)  #sort the list in ascending order
l_alpha

['red', 'Yelolow', 'Green', 'Blue']

In [88]:
l_num.sort()
l_num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
l_num.sort(reverse=True)
l_num

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# 9.0 Creating copy of list

Note: You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made
in list1 will automatically also be made in list2.

In [11]:
#For example see below code
l1 = [1,2,3,4,5]
l2 = l1
l2

[1, 2, 3, 4, 5]

In [12]:
l1.insert(3, "Shri")
l2

[1, 2, 3, 'Shri', 4, 5]

### 9.1 Using copy() method

In [13]:
l = [1,2,3,4,5]
l_copy = l.copy()
# inserting element in list l which will not affect copy list l_copy
l.insert(3,"shri")
l_copy

[1, 2, 3, 4, 5]

### 9.2 Using list() method

In [14]:
l1 = [1,2,3,4,5]
l_copy1 = list(l1)
# inserting element in list l1 which will not affect copy list l_copy1
l1.insert(3,"shubham")
l_copy1

[1, 2, 3, 4, 5]

# 10.0 Joining lists

### 10.1 Using '+' operator

In [15]:
l1 = ["Hare"]
l2 = ["Krishna"]
l3 = l1 + l2
l3

['Hare', 'Krishna']

#### Note: creating duplicate items inside a list

In [16]:
l3 = l2*4
l3

['Krishna', 'Krishna', 'Krishna', 'Krishna']

### 10.2 Using append() method

append() Adds an element at the end of the list

In [19]:
l1=[1,2,3]
l2=[2,3,4]
for x in l2:
    l1.append(x)
l1

[1, 2, 3, 2, 3, 4]

In [20]:
l1=[1,2,3]
l2=[2,3,4]
l1.extend(l2)
l1

[1, 2, 3, 2, 3, 4]

# 11.0 List methods

1. append() Adds an element at the end of the list
2. clear() Removes all the elements from the list
3. copy() Returns a copy of the list
4. count() Returns the number of elements with the specified value
5. extend() Add the elements of a list (or any iterable), to the end of the current list
6. index() Returns the index of the first element with the specified value
7. insert() Adds an element at the specified position
8. pop() Removes the element at the specified position
9. remove() Removes the item with the specified value
10. reverse() Reverses the order of the list
11. sort() Sorts the list

### 11.1 reverse() method

In [22]:
l = [9,8,5,4,3,2,2,1]
l.reverse()
l

[1, 2, 2, 3, 4, 5, 8, 9]

### 11.2 count() method

In [23]:
l = [1,1,1,2,2,2,3,3,3,4,4,4,4,5,5,5,5]
l.count(1)

3

In [29]:
# counting all elements
for i in set(l):
    print("Number :{} and its count {}".format(i,l.count(i)))

Number :1 and its count 3
Number :2 and its count 3
Number :3 and its count 3
Number :4 and its count 4
Number :5 and its count 4